body {
  margin: 0;
}

.bundle-container{
	position: relative;
	width: 50%;
	margin: auto;
}

.bundle-button{
	border-bottom: 1px solid #0c0c0d;
}

.bundle-button p{
	display: inline;
}

.bundle-button:hover{
	cursor: pointer;
}
.arrowIcon{
	display: inline-block;
	width: 15px;
	height: 18px;
	content: "";
	transform: rotate(0deg);
	transition: 500ms;
	position: absolute;
	right: 0px;
}
/*
.bundle-button::after{
	background-image: url('../icons/down-arrow.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 15px;
	height: 18px;
	content: "";

	transform: rotate(180deg);

	transition: 500ms;
	position: absolute;
	right: 0px;
}
*/
.bundle-selectors{
	border-bottom: 1px solid #ddd;
	margin-top: 10px;
}

.bundle-selector-content{
	transition: height 1s;
	overflow: hidden;
	/*height: 0px;*/
}