body {
  margin: 0;
}

.bundle-container{
	position: relative;
	width: 50%;
	margin: auto;

}

.bundle-button p{
	display: inline;
}

.bundle-button::after{
	background-image: url('../icons/down-arrow.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 15px;
	height: 18px;
	content: "";
	/*change this value with js to cause the rotation on click*/
	transform: rotate(180deg);
	/*this will cause rotate animation*/
	transition: 500ms;
	position: absolute;
	right: 0px;
}